@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h3 {
    font-size: 1.2375rem;
    color: #FFF;
}

a {
    cursor: pointer;
    text-decoration: none;
}

li {
    list-style: none;
}
/* -------------------------------------------------------------- SIDE BAR ----------------------------------------------- */

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 70px;
    min-width: 70px;
    display: flex;
    flex-direction: column;
    transition: all 0.35s ease-in-out;
    box-shadow: 0 0 35px 0 rgba(49, 57, 66, 0.5);
    z-index: 1000;
    background-color: #0e223e;
}

    #sidebar.expand{
        width: 260px;
        min-width: 260px;
    }

    #sidebar:not(.expand) .sidebar-logo,
    #sidebar:not(.expand) a.sidebar-link span,
    #sidebar:not(.expand) .sidebar-footer span{
        display: none;
    }
.sidebar-footer{
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}
#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

#toggle-btn i{
    font-size: 1.5rem;
    color: #FFF;
}
    /* Sidebar collapse */

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
    margin: auto 0;
}

    .sidebar-logo a {
        color: #e9ecef;
        font-size: 1.15rem;
        font-weight: 600;
    }

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

.sidebar-header {
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #e9ecef;
    position: relative;
    display: block;
    font-size: 1rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position:relative;
}




/* Responsive */

@media (min-width:768px) {
    .content {
        width: auto;
    }
}
